html, body {
    background-color: black;
    font-size: 1em;
    color: white;
}

h1 {
    color: white;
    background-color: #9b0000;
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}

h2 {
    color: white;
	background-color: #9b0000;
	font-family: 'Cantarell', sans-serif;
    text-align: center;
}
.startingPositionsImg {
    width: 100%;
    height: auto;
}


